.list-group {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;

  //&.list-group-striped {
  //  > .list-group-item:nth-child(2N) {
  //    background-color: fade(@color-info, 8%);
  //  }
  //}

  &.list-group-spaced {
    > .list-group-item {
      border-radius: 3px;
      margin-bottom: 7px;
      border-bottom-width: 1px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > .list-group-item {
    display: block;
    border: 1px solid fade(@text-color, 25%);
    background-color: fade(@text-color, 10%);
    border-bottom-width: 0;
    padding: 5px 7px;
    &:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-width: 1px;
    }
    &.list-group-item-info {
      background-color: fade(@color-info, 25%) !important;
    }
    &.list-group-item-success {
      background-color: fade(@color-success, 25%) !important;
    }
    &.list-group-item-warning {
      background-color: fade(@color-warning, 25%) !important;
    }
    &.list-group-item-danger {
      background-color: fade(@color-danger, 25%) !important;
    }
    &.list-group-item-primary {
      background-color: fade(@color-primary, 25%) !important;
    }

    //> .list-group-header {
    //  padding: 5px 15px;
    //  font-size: 1.2rem;
    //  line-height: 1.2 * @line-height-computed;
    //  background-color: fade(@text-color, 5%);
    //  border-bottom: 1px dashed fade(@text-color, 10%);
    //  margin: -5px -7px 8px -7px;
    //}
  }
}