@import "views/error";
@import "views/game";
@import "views/games";
@import "views/home";
@import "views/news";
@import "bootstrap/main";
@import "form/main";
@import "link/main";
@import "table/main";
@import "breadcrumb";
@import "code";
@import "cookieNotice";
@import "flex";
@import "footer";
@import "header";
@import "listGroup";
@import "margin";
@import "modal";
@import "navigation";
@import "panel";
@import "text";
@import "util";
@import "well";
@import "width";

html {
  font-family: @font-family-base;
  font-size: @font-size-base;
  &, .panel-heading .fa { // no clue why it doesn't work without... fa-icon seems to silently overwrite line-height
    line-height: @line-height-computed;
  }
}

body {
  overflow-y: scroll;
  color: @text-color;
  background-color: @bg-color;
  margin: 0;
}

#view {
  padding: 10px;
  margin-bottom: @line-height-computed * 3 + @footer-padding * 2 + @footer-border-top-height;
  @media (min-width: @screen-sm-min) {
    margin-bottom: @line-height-computed + @footer-padding * 2 + @footer-border-top-height;
  }

  > *:first-child, > article:first-child > *:first-child {
    margin-top: 0;
  }
}

ul, ol {
  &.no-style {
    list-style: none;
  }
}

hr {
  border-color: fade(mix(@text-color, @color-primary, 80%), 20%);
  border-top-color: fade(mix(@text-color, @color-primary, 10%), 20%);
}

p {
  text-align: justify;
}
