> tbody {
  > tr > td {
    padding: 4px 7px;
    border: 1px solid fade(@text-color, 15%);

    .table-input {
      width: 100%;
      border: none;
      font-size: @font-size-base;
      line-height: @line-height-computed;
      margin: -4px -7px;
      padding: 4px 7px;
    }
  }

  > tr:hover, > tr > td.hover {
    background-color: fade(@text-color, 10%);
  }

  > tr.primary {
    background-color: fade(@color-primary, 15%);
    &:hover {
      background-color: mix(@text-color, fade(@color-primary, 15%), 6%);
    }
  }

  > tr > td.primary {
    background-color: fade(@color-primary, 15%);
    &:hover, &.hover {
      background-color: mix(@text-color, fade(@color-primary, 15%), 6%);
    }
  }
}
