&.table-striped {
  > tbody > tr:nth-child(2N) {
    background-color: fade(@text-color, 4%);
    &:hover {
      background-color: fade(@text-color, 10%);
    }
  }

  > tbody > tr:nth-child(2N) > td.hover {
    background-color: fade(@text-color, 10%);
  }

  > tbody > tr.primary:nth-child(2N) {
    background-color: mix(@text-color, fade(@color-primary, 15%), 3%);
    &:hover {
      background-color: mix(@text-color, fade(@color-primary, 15%), 6%);
    }
  }

  > tbody > tr:nth-child(2N) > td.primary {
    background-color: mix(@text-color, fade(@color-primary, 15%), 3%);
    &:hover, &.hover {
      background-color: mix(@text-color, fade(@color-primary, 15%), 6%);
    }
  }

  > thead > tr > th, > tbody > tr > td {
    border-top: 0;
    border-bottom: 0;
  }
}
