/*================================================= Custom Variables =================================================*/

@print-paper-width: 21cm; // DIN-A4
@print-paper-height: 29.7cm; // DIN-A4

@contract-color-active: mix(@bg-color, @color-success, 40%);
@contract-color-inactive: mix(@bg-color, @color-info, 40%);
@contract-cover-size: @print-paper-height / 3 - 2cm;
@contract-header-padding: 5px;
