@import "colors";
@import "external";

a {
  &, &:visited, &:active {
    color: @link-color;
  }

  &:active, &:focus, &:hover {
    color: @link-color-hover
  }
}

*:not(li) > a[ng-click]:not([href]):not(.form-btn), a.link-hover {
  color: @link-color;

  &:hover {
    text-decoration: underline;
  }
  &.disabled {
    text-decoration: none;
    color: @text-muted;
  }
}

a[ng-click]:not([href]):not(.btn), a.link-hover {
  cursor: pointer;
  &.disabled {
    cursor: not-allowed;
  }
}

a.link-fa, a.no-decoration, a.fa {
  text-decoration: none !important;
}
