<article id="error">
    <h1 class="no-margin-top">{{'error.title' | translate:{code: 404} }}</h1>
    <div class="well">
        <i class="fa fa-sitemap"></i>
        <div class="position"><i class="fa fa-meh-o"></i></div>
    </div>
</article>