.token-hover {
  background-color: black;
  > .token-hover-token {
    display: none;
  }
  &:hover {
    background-color: inherit;

    > .token-hover-token {
      display: inline;
    }

    > .token-hover-placeholder {
      display: none;
    }
  }
}
