<!DOCTYPE html>
<html>
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <meta property="og:site_name" content="<%= pkg.name %>"/>
    <base href="<%= base %>"/>
    <!-- /build -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="content-type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="/favicon.ico" rel="icon" type="image/x-icon"/>

    <!-- build:process -->
    <%= styles %>
    <!-- /build -->

    <!-- build:script libs -->
    <!-- /build -->

    <!-- build:script modules -->
    <!-- /build -->
</head>

<!-- build:process -->
<body ng-app="<%= app %>">
<!-- /build -->

<noscript>
    Zur Nutzung der Dienste dieser Website ist JavaScript erforderlich.
</noscript>

<div class="cookie-notice"></div>

<!-- build:section navigation -->
<!-- /build -->

<div class="breadcrumb"></div>

<div id="view" class="container" ng-view></div>

<footer></footer>

<noscript>
    <footer>
        <hr/>
        <a href="/plain/cookie-policy">Cookie-Richtlinie</a>
        |
        <a href="/plain/privacy-policy">Datenschutzerklärung</a>
        |
        <a href="/plain/legal-info">Impressum</a>
    </footer>
</noscript>

</body>
</html>