<h2>Description</h2>

<p>
    <strong>murderer.js</strong> is a hybrid game that connects real interaction with a web-service. It works well being
    played besides other activity over some days to weeks. Groups of ~15 to ~200 participants are recommended.<br/>

    Getting to know each other and social interaction is the key of the game. Hence it can be played on conferences that
    last several days for example (name badges are recommended if the players don't know each others names).
</p>

<h2>Gameplay</h2>

<p>
    All players get individual <em>murder contracts</em> that they can lookup online. It's great to keep your
    contracts with you, so feel encouraged to print them. Now all players try to perform as many contracts as they can
    until the game ends at a pre-defined date.
</p>

<h3>How to fulfill a contract?</h3>

<p>
    This is the social interactive aspect of the game. To fulfill a contract the <em>murderer</em> has to pass over any
    object to the <em>victim</em> without any <em>witness</em> present. The object used to perform the murder can not be
    forced to be accepted and can not be thrown for example. For a murder to occur the murderer has to carry the
    <b>primary</b> weight of the object which has to be passed over to the victim.

    Depending on the participating group the murderer has to find his victims first, knowing only their names.
</p>

<h3>Who counts a witness?</h3>

<p>
    Any player who is not part of the murder, but alive within the respective <em>ring</em>, can witness a murder and
    hence nullify it. Because of this a player first has to ensure that no witness can be aware of the object handover
    in order to successfully kill his victim.
</p>

<h3>What is a ring?</h3>

<p>
    To provide each player with multiple murder contracts a game may consist of more than one ring.<br/>

    Within each ring every player alive has one murder contract for another player alive within. It is ensured that
    every player is also target of exactly one murder contract and all contracts form a circle.
</p>

<h3>What happens once a contract is fulfilled?</h3>

<p>
    If a player gets killed, he then asks the murderer for verification (e.g. showing the printed contract). Once the
    murder is verified, the victim hands over his <em>token</em> and his target within the same ring. The token is
    located on the contract of the victim, so the easiest way is to just hand over the printed contract. Be aware that
    this handover may also count a murder (within a different ring), but if the murderer explicitly asks for indirect
    handover this should be complied with. As soon the murderer enters the victims token and a cause of death note
    within the web interface he also gets the online version of the new contract and can continue.<br/>

    A murder does not have to be entered online immediately, but if a player performs a series of murders those need to
    be entered in order. You should also be aware that a murder has to be entered before the game ends, otherwise it
    is not scored.
</p>

<h3>Several days? That is too long!</h3>

<p>
    Players are able to commit <em>suicide</em> at any time in order to leave a game early. This is a nice gesture since
    it allows your respective murderer to continue with the next target. Once a suicide is committed, the respective
    murderers get notified via e-mail and the updated contracts are available online.<br/>

    However if your target commits suicide after a murder but before you entered his token online, you can still submit
    and the murder is scored.
</p>

<h3>How is the winner determined?</h3>

<p>
    At the end of a game the player with the most scored murders (summarized over all rings) wins. If there is no single
    winner with respect to scored murders, the one with the <b>fewest</b> remaining lives (due to indication of
    more social activity) wins. If this is tied too, the player with the highest rated cause of death notes (cumulative)
    is the winner. If the tie persists, all of them have won the game.
</p>

<h2>Special rules</h2>

<ul>
    <li id="multi-kill-rule">
        If all potential witnesses become victims of the same murderer within one minute (contracts within multiple
        rings), no victim may witness any of these murders.
    </li>
    <li id="one-at-a-time-rule">
        A single handover can only ever cause one murder. If a murderer has the same target within multiple rings, the
        murders need to be performed by several handovers.
    </li>
    <li id="active-witness-rule">
        A witness has to take the initiative by himself to nullify a murder (by informing the players taking part in the
        murder). Therefore the murderer has to reveal clearly that a murder has happened immediately and in
        appropriate volume. If this is not the case, the murder is nullified. Once the victim directly asks any player
        whether he witnessed the murder, this player is no longer a potential witness. A player who is not aware of what
        happens, cannot witness anything.
    </li>
    <li id="murderless-zones-rule">
        If a person of authority (game master, etc.) declares a place or time to be <em>sanctuary</em> (e.g. another
        game is played that involves object handovers), no murder may be performed there.
    </li>
</ul>

<h2>Additions</h2>

<ul>
    <li>
        Rest rooms and showers are <b>always</b> sanctuary.
    </li>
    <li>
        The game should not be taken to serious. Not accepting any objects for several days might be a way of surviving
        (not an easy one in fact), but is not as much fun as focusing on the contracts of one's own.
    </li>
    <li>
        The word <em>object</em> should not exclude human or other animate beings (as long they're treated human/animate
        beings friendly) being used for performing a murder.
    </li>
    <li>
        In no case withhold assistance in an emergency by refusing a handover in respect to this game. Emergencies of
        all kind are always considered sanctuaries to be safe.
    </li>
</ul>
