<article id="legal-info">
    <h1>Impressum</h1>

    <h2>Angaben gemäß § 5 TMG</h2>

    <p>
        Ole Reglitzki<br/>
        Am Felsenkeller 5<br/>
        37120 Bovenden<br/>
        Germany
    </p>

    <h2>Kontakt</h2>

    <table>
        <tbody>
        <tr>
            <td>E-Mail:</td>
            <td>webmaster@mgame.xoria.de</td>
        </tr>
        </tbody>
    </table>
</article>
