<article id="privacy-policy">
    <h1>Datenschutzerklärung</h1>

    <h2>Geltungsbereich</h2>

    <p>
        Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke der Erhebung und Verwendung
        personenbezogener Daten durch den verantwortlichen Anbieter Ole Reglitzki, Am Felsenkeller 5, 37120 Bovenden,
        Germany, webmaster@mgame.xoria.de auf dieser Website (im folgenden “Angebot”) auf.
    </p>
    <p>
        Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz (BDSG) und dem
        Telemediengesetz (TMG).
    </p>


    <h2>Zugriffsdaten/ Server-Logfiles</h2>

    <p>
        Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt Daten über jeden Zugriff auf das Angebot (so
        genannte Serverlogfiles). Zu den Zugriffsdaten gehören:<br/><br/>
        Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über
        erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte
        Seite), IP-Adresse und der anfragende Provider.<br/><br/>
        Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen zum Zweck des Betriebs, der
        Sicherheit und der Optimierung des Angebotes. Der Anbieterbehält sich jedoch vor, die Protokolldaten
        nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer rechtswidrigen
        Nutzung besteht.
    </p>

    <h2>Umgang mit personenbezogenen Daten</h2>

    <p>
        Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person bestimmbar ist, also Angaben, die zurück
        zu einer Person verfolgt werden können. Dazu gehören der Name, die Emailadresse oder die Telefonnummer. Aber
        auch Daten über Vorlieben, Hobbies, Mitgliedschaften oder welche Webseiten von jemandem angesehen wurden zählen
        zu personenbezogenen Daten.<br/><br/>
        Personenbezogene Daten werden von dem Anbieter nur dann erhoben, genutzt und weiter gegeben, wenn dies
        gesetzlich erlaubt ist oder die Nutzer in die Datenerhebung einwilligen.
    </p>

    <h2>Kontaktaufnahme</h2>

    <p>
        Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular oder E-Mail) werden die Angaben des
        Nutzers zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.
    </p>

    <h2>Kommentare und Beiträge</h2>

    <p>
        Wenn Nutzer Kommentare im Blog oder sonstige Beiträge hinterlassen, werden ihre IP-Adressen gespeichert. Das
        erfolgt zur Sicherheit des Anbieters, falls jemand in Kommentaren und Beiträgen widerrechtliche Inhalte schreibt
        (Beleidigungen, verbotene politische Propaganda, etc.). In diesem Fall kann der Anbieter selbst für den
        Kommentar oder Beitrag belangt werden und ist daher an der Identität des Verfassers interessiert.
    </p>

    <h2>Cookies</h2>

    <p>
        Cookies sind kleine Dateien, die es ermöglichen, auf dem Zugriffsgerät der Nutzer (PC, Smartphone o.ä.)
        spezifische, auf das Gerät bezogene Informationen zu speichern. Sie dienen zum einem der Benutzerfreundlichkeit
        von Webseiten und damit den Nutzern (z.B. Speicherung von Logindaten). Zum anderen dienen sie, um die
        statistische Daten der Webseitennutzung zu erfassen und sie zwecks Verbesserung des Angebotes analysieren zu
        können. Die Nutzer können auf den Einsatz der Cookies Einfluss nehmen. Die meisten Browser verfügen eine Option
        mit der das Speichern von Cookies eingeschränkt oder komplett verhindert wird. Allerdings wird darauf
        hingewiesen, dass die Nutzung und insbesondere der Nutzungskomfort ohne Cookies eingeschränkt werden.
    </p>

    <h2>Registrierfunktion</h2>

    <p>
        Die im Rahmen der Registrierung eingegebenen Daten werden für die Zwecke der Nutzung des Angebotes verwendet.
        Die Nutzer können über angebots- oder registrierungsrelevante Informationen, wie Änderungen des Angebotsumfangs
        oder technische Umstände per E-Mail informiert werden. Die erhobenen Daten sind aus der Eingabemaske im Rahmen
        der Registrierung ersichtlich. Dazu gehören Name und E-Mail-Adresse.
    </p>

    <h2>Widerruf, Änderungen, Berichtigungen und Aktualisierungen</h2>

    <p>Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten, die
        über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht auf Berichtigung unrichtiger Daten, Sperrung
        und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht
        entgegensteht.
    </p>

    <hr/>

    <p>
        Vom Websiteinhaber angepasst.<br/>
        <strong>
            <a href="http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/">
                Datenschutz-Muster von Rechtsanwalt Thomas Schwenke - I LAW it
            </a>
        </strong>
    </p>
</article>
