<ul id="acp-main" class="flexbox">
    <li class="flex-100"><a href="/acp/users">
        <i class="fa fa-fw fa-5x fa-user"></i>
        <div translate>user.title.plural</div>
    </a></li>

    <li class="flex-100"><a href="/acp/groups">
        <i class="fa fa-fw fa-5x fa-users"></i>
        <div translate>group.title.plural</div>
    </a></li>

    <li class="flex-100"><a href="/acp/games">
        <i class="fa fa-fw fa-5x fa-server"></i>
        <div translate>game.title.plural</div>
    </a></li>
</ul>