<div class="modal-header">
    <span ng-bind-html="'game.table.title' | translate:{name: game.name} | html"></span>
    <a class="fa fa-fw fa-times text-warning pull-right" ng-click="dismiss()"></a>
</div>

<div class="modal-body">
    <label class="control-label">
        <input class="form-checkbox" type="checkbox" ng-model="compact"/> {{'game.table.compact' | translate}}
    </label>
    <!-- TODO add number input for ringsAround -->
    <table class="table table-striped game-table" st-table="participants">
        <thead>
        <tr>
            <th st-sort="name" class="names text-left" translate>game.participant</th>
            <th class="fa fa-fw th-link fa-angle-left" ng-class="{'text-muted': firstRing}" ng-click="prevRings()"></th>
            <th ng-repeat="ring in rings" class="text-mono" data-ring-id="{{ring._id}}"
                ng-class="{primary: activeCol === $index, hover: hoveredCol === $index}"
                ng-mouseenter="hoverCol($index)" ng-mouseleave="leaveCol()">
                {{'game.ring' | translate}} #{{ring.index + 1}}
            </th>
            <th class="fa fa-fw th-link fa-angle-right" ng-class="{'text-muted': lastRing}" ng-click="nextRings()"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in participants" data-user-id="user._id" ng-class="{primary: user.isSelf}">
            <td>
                <small class="text-mono" ng-bind="user.group.name"></small>
                <span class="text-mono">/</span>
                <span class="murderer" ng-bind="user.name"></span>
            </td>
            <td></td>
            <td ng-repeat="ring in rings" ng-class="{primary: activeCol === $index, hover: hoveredCol === $index}"
                ng-mouseenter="hoverCol($index)" ng-mouseleave="leaveCol($index)">
                <span class="murder-info" ng-repeat="murder in murders[user._id][ring._id]"
                      ng-if="!murder.suicide || killed[user._id][ring._id] == null" data-murder-id="{{murder._id}}"
                      ng-mouseenter="hoverMurder(murder)" ng-mouseleave="leaveMurder()">
                    <img class="news-author" ng-if="murder.trigger" ng-src="{{avatar(16, murder.trigger.avatarUrl)}}"
                         title="{{'news.triggered' | translate:{username: murder.trigger.username} }}"
                         data-user-id="murder.trigger._id"/>
                    <span title="{{'game.table.' + (murder.suicide ? 'suicide' : 'kill') | translate:murder.plain}}"
                          ng-class="'text-' + (murder._id === hoveredMurder ? (murder.suicide ? 'warning' : 'success') : (murder.suicide ? 'black' : 'white'))">
                        <span ng-if="murder.suicide">
                            <span ng-if="killed[user._id][ring._id] == null">
                                <i class="fa fa-fw fa-bomb"></i>
                                <span class="murderer" ng-if="!compact" ng-bind="murder.murderer.name"></span>
                            </span>
                        </span>
                        <span ng-if="!murder.suicide">
                            <i class="fa fa-fw fa-spoon"></i>
                            <span class="victim" ng-if="!compact" ng-bind="murder.victim.name"></span>
                        </span>
                    </span>
                </span><span class="murder-info" ng-if="killed[user._id][ring._id]"
                             ng-init="murder = killed[user._id][ring._id]"
                             data-murder-id="{{murder._id}}"
                             ng-class="'text-' + (murder._id === hoveredMurder ? 'warning' : 'black')"
                             ng-mouseenter="hoverMurder(murder)" ng-mouseleave="leaveMurder()">
                    <img class="news-author" ng-if="murder.trigger"
                         ng-src="{{avatar(16, murder.trigger.avatarUrl)}}"
                         title="{{'news.triggered' | translate:{username:murder.trigger.username} }}"
                         data-user-id="murder.trigger._id"/>
                    <span title="{{'game.table.' + (murder.suicide ? 'suicide' : 'kill') | translate:murder.plain}}">
                        <i class="fa fa-fw fa-crosshairs"></i>
                        <span class="murderer" ng-if="!compact" ng-bind="murder.murderer.name"></span>
                    </span>
                </span>
            </td>
            <td></td>
        </tr>
        </tbody>
        <tfoot ng-show="rings.length > 20">
        <tr>
            <td colspan="{{3 + rings.length}}" class="text-center">
                <div st-pagination="" data-st-items-by-page="20" data-st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
