.print-page {
  height: @print-paper-height;
  width: @print-paper-width;
  page-break-inside: avoid;
  page-break-after: always;
  overflow: hidden;
  background: none white !important;
  color: black;
}
