.form-btn {
  .button-colorize(@color) {
    @form-button-color-light: mix(@bg-color, @color, 60%);
    @form-button-color-dark: mix(@bg-color, @color, 80%);
    @form-button-color-hover-light: mix(@bg-color, @color, 55%);
    @form-button-color-hover-dark: mix(@bg-color, @color, 75%);
    background: @form-button-color-light linear-gradient(to bottom, @form-button-color-light, @form-button-color-dark);
    border: 1px outset @form-button-color-light;

    &:hover, &:focus {
      background: @form-button-color-hover-light linear-gradient(to bottom, @form-button-color-hover-light, @form-button-color-hover-dark);
      border: 1px outset @form-button-color-hover-light;
    }

    &:active {
      background: @form-button-color-dark linear-gradient(to bottom, @form-button-color-dark, @form-button-color-light);
      border: 1px inset @form-button-color-light;
    }

    &:disabled {
      @form-button-color-light: mix(@bg-color, @color, 60%);
      @form-button-color-dark: mix(@bg-color, @color, 70%);
      background: @form-button-color-light linear-gradient(to bottom, @form-button-color-light, @form-button-color-dark);
      border: 1px outset @form-button-color-light;
    }
  }

  .button-colorize(@text-color);
  box-sizing: border-box;
  text-decoration: none;
  padding: 4px 10px;
  height: @line-height-computed + 2 * 4px;
  display: inline-block;
  margin: 6px 0;
  outline: none;
  cursor: pointer;
  color: @text-color;
  text-shadow: 1px 1px black;
  font-weight: bold;

  &.form-btn-block {
    display: block;
    width: 100%;
  }

  &:focus {
    border-color: @color-info;
    box-shadow: 0 0 1px 1px @color-info;
  }

  &:active {
    padding: 5px 9px 3px 11px;
  }

  &:disabled {
    padding: 5px 10px;
    cursor: not-allowed;
    color: fade(darken(@text-color, 20%), 80%);
    text-shadow: none;
  }

  > .fa {
    position: relative;
    top: -1px;
  }

  &.form-btn-info {
    .button-colorize(@color-info);
  }

  &.form-btn-success {
    .button-colorize(@color-success);
  }

  &.form-btn-warning {
    .button-colorize(@color-warning);
  }

  &.form-btn-danger {
    .button-colorize(@color-danger);
  }

  &.form-btn-primary {
    .button-colorize(@color-primary);
  }
}
