.form-control, .form-checkbox {
  &.ng-invalid {
    border-color: @color-danger;
    box-shadow: 0 0 2px 1px @color-danger;
    background-color: mix(@color-danger, white, 15%);
  }
}

.error-msg {
  color: @color-danger;
}
